<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="psb.com.kidpaint">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".home.HomeActivity_2"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".painting.PaintActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".utils.ActivityCropImage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user.register.ActivityRegisterUser"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@style/TranslucentTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".user.edit.ActivityEditProfile"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentTheme"
            android:windowSoftInputMode="stateHidden" />

        <receiver android:name=".utils.SmsListener">
            <intent-filter android:priority="1000">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".competition.ActivityCompetition"
            android:screenOrientation="landscape"
            android:theme="@style/ThemeFullSCreen"
            android:windowSoftInputMode="stateHidden" />

        <service android:name=".utils.firebase.ServiceGetMessage">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".myMessages.ActivityMyMessages"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme" />
        <activity android:name=".myPrize.ActivityMyPrize" />

        <receiver
            android:name=".utils.checkInternet.ServiceCheckInternet"
            android:label="NetworkChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <!--         <activity android:name=".ActivityTest"></activity> -->
        <activity android:name=".score.ActivityScorePackage"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme"
            ></activity>
    </application>

</manifest>