<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="psb.com.kidpaint">

    <!--<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />-->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application
        android:name="psb.com.kidpaint.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="true"
        >
        <activity
            android:name="psb.com.kidpaint.home.HomeActivity_2"
            android:screenOrientation="landscape"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="psb.com.kidpaint.painting.PaintActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme" />

        <activity
            android:name="psb.com.kidpaint.utils.ActivityCropImage"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/TranslucentTheme"
            />
        <activity
            android:name="psb.com.kidpaint.user.register.ActivityRegisterUser"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/TranslucentTheme"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name="psb.com.kidpaint.user.edit.ActivityEditProfile"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/TranslucentTheme"
            android:windowSoftInputMode="stateHidden" />

        <receiver android:name="psb.com.kidpaint.utils.SmsListener">
            <intent-filter android:priority="1000">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="psb.com.kidpaint.competition.ActivityCompetition"
            android:screenOrientation="landscape"
            android:configChanges="orientation|screenSize|keyboardHidden"

            android:theme="@style/ThemeFullSCreen"
            android:windowSoftInputMode="stateHidden" />

        <service android:name="psb.com.kidpaint.utils.firebase.ServiceGetMessage">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name="psb.com.kidpaint.myMessages.ActivityMyMessages"
            android:screenOrientation="landscape"
            android:configChanges="orientation|screenSize|keyboardHidden"

            android:theme="@style/FullscreenTheme" />
        <activity android:name="psb.com.kidpaint.myPrize.ActivityMyPrize" />

        <receiver
            android:name="psb.com.kidpaint.utils.checkInternet.ServiceCheckInternet"
            android:label="NetworkChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <!--         <activity android:name=".ActivityTest"></activity> -->
        <activity android:name="psb.com.kidpaint.score.ActivityScorePackage"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/TranslucentTheme"
            ></activity>

        <activity android:name="psb.com.kidpaint.activityMessage.MessageActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/TranslucentTheme"
            ></activity>
    </application>

</manifest>