<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="psb.com.payment" >
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.farsitel.bazaar.permission.PAY_THROUGH_BAZAAR"/>
<application>
    <activity android:name="ir.tapsell.sdk.TapsellAdActivity"
        android:configChanges="keyboardHidden|orientation|screenSize" >
    </activity>
</application>
</manifest>
